/* Styles for account page + interface */

.accordion-header {
    line-height: 30px;
}
.name {
    font-weight: bold;
}
.header {
    float: right;
}
.header-entry {}
.header-value {
    font-style: italic;
}
.entry {
    font-weight: bold;
}
.value {
    font-style: italic;
}
.button-container {
    border-radius: 5px;
    height: 50px;
}

button {
    width: 100%;
    height: 45px;
}