/*Landing page overlay*/
#landing-page-overlay {
    position: absolute;
    z-index: 50;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#landing-page-content {
    /*position: fixed;*/
    top: 50%;
    left: 50%;
    width: 80%;
    height: 290px;
    /*border: solid 1px;*/
    background-color: whitesmoke;
    opacity: .85;
    margin-left: -40%;
    margin-top: -200px;
    text-align: center;
    border: solid 3px white;
    border-radius: 5px;
}
.landing-page-input {}
.landing-page-logo {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
}

/*MapBox Front-end display*/
#map {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%;
    z-index: 0;
}
.flavor-select {
    width: 125px;
}
.deliver-button {
    width: 100%;
}

/*User messages*/
#first-notification {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    color: #900;
    opacity: .7;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 100;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#second-notification {
    display: none;
    position: absolute;
    top: 100px;
    left: 0px;
    color: #900;
    opacity: .7;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 100;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*Title and navigation*/
#header {
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: .7;
    z-index: 100;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#title {
    font-weight: bold;
    font-size: 16pt;
    vertical-align: middle;
}
#nav {
    font-size: 12pt;
    vertical-align: middle;
}
#place-order {
    position: absolute;
    bottom: 70px;
    left: 50%;
    width: 150px;
    height: 20px;
    opacity: .85;
    margin-left: -55px;
    margin-top: -10px;
    z-index: 100;
}
#place-order-button {
    display: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    opacity: .9;
}