body {
    font-family: 'Nunito', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
}


/*Active navigation links*/
.active {
    font-weight: bold;
}

.credit {
    color: #999;
    font-size: 8pt;
}
.login {
    padding-bottom: 5px;
}

.site-title {
    font-weight: bold;
    font-size: 20pt;
}
.page-title {
    /*font-style: italic;*/
    font-size: 16pt;
    font-family: 'Comfortaa', cursive;
}

.status {
    color: maroon;
    position: absolute;
    margin: 0 auto;
    background: #f4dc42;
    padding-left: 5px;
    top: 15px;
    width: 90%;
}
.display-table {
    margin: 0 auto;
    width: 100%;
}

.grid-title {
    font-weight: bold;
    padding-bottom: 10px;
}
.grid-header {
    font-weight: bold;
    padding-bottom: 5px;
}
.grid-element {
    padding: 5px;
}
.grid-input {
    width: 100%;
}
.grid-button {
    width: 100%;
}

.danger {
    font-weight: bold;
    color: red;
}
.danger-background {
    background-color: #660000;
}
.bold {
    font-weight: bold;
}
.centered {
    text-align: center;
    align-items: center;
}
.disabled {
    opacity: .5;
}
.luna {
    font-weight: bold;
    color: #39bafc;
    font-family: 'Comfortaa', cursive;
}
.luna-big {
    font-size: 30pt;
}
.luna-subtext {
    font-family: 'Comfortaa', cursive;
    font-size: 10pt;
}

.row-spacing {
    margin-bottom: 10px;
    margin-right: 5px;
}

#accordion .ui-icon { display: none; }
#accordion .ui-accordion-header a { padding-left: 0; }

/*Links*/
a {
    color: #990000 !important;
}

/*Google Sign-in button*/
.g-signin2 {
  width: 100%;
}
.g-signin2 div {
  margin: 0 auto;
}