{% extends "view/base.html" %}

{% set active_page = "about" %}

{% block header %}
<div class="page-title">About {{info["name"]}}</div>
{% endblock %}

{% block content %}

<h3>Why?</h3>
<p>
    You've heard the gig before. You place an order, box gets loaded onto drone, drone flies to you immediately, and you have your package only 15 seconds after you confirmed payment. Amazon announced their drone delivery in 2012, and somehow 5 years later we're still waiting around for our rich neighbor's order of emergency toilet paper to fall out of the sky.
</p>
<p>
    One can only wait so long for drone delivery to become a thing, so <b>LunaDrop</b> was born out of the necessity to pick up where Amazon left off. 
</p>
<h3>What?</h3>
<p>
    <b>LunaDrop</b> is a comprehensive drone delivery system. Users visit our web app to place an order and select one of our designated delivery locations. Back at the hub we pack up the order and clip the box to one of our drones. The drone then flies autonomously from the hub to the chosen landing site, descends to release the package, and returns to the hub for the next order.
</p>
<h3>How?</h3>
<p>The LunaDrop project can best be broken down into 4 parts.</p>


<h3>Who?</h3>
<p></p>

{% endblock %}