{% extends "view/base.html" %}

{% set active_page = "about" %}

{% block header %}
<div class="page-title">About {{info["name"]}}</div>
{% endblock %}

{% block content %}

<div style="margin-top:-20pt;" class="container">

    <div class="row about-page">
        <h3>Why?</h3>
        <div>
            Delivery by drone is 
        </div>
        <div>
            One can only wait so long for drone delivery to become a thing, so <span class="bold">LunaDrop</span> was born out of the necessity to pick up where Amazon left off. 
        </div>
    </div>

    <div class="row about-page">
        <h3>What?</h3>
        <div>
            <span class="bold">LunaDrop</span> is a comprehensive drone delivery system. Users visit our web app to place an order and select one of our designated delivery locations. Back at the hub we pack up the order and clip the box to one of our drones. The drone then flies autonomously from the hub to the chosen landing site, descends to release the package, and returns to the hub for the next order.
        </div>
    </div>

    <div class="row about-page">
        <h3>How?</h3>
        <div>The LunaDrop project can best be broken down into three main parts.</div>
    </div>
    <div class="row about-page">
        <div class="col-sm-4">
            <h4>The Server</h4>
            <img src="/static/img/server.jpg" class="img-responsive" />
            <p>description</p>
        </div>

        <div class="col-sm-4">
            <h4>The Drones</h4>
            <img src="/static/img/drone.jpg" class="img-responsive" />
            <p>description</p>
        </div>

        <div class="col-sm-4">
            <h4>The Manager</h4>
            <img src="/static/img/manager.jpg" class="img-responsive" />
            <p>description</p>
        </div>
    </div>

    <div class="row about-page">
        <h3>Who?</h3>
        <p><span class="bold">LunaDrop</span> is the brain-child of three current undergraduate students studying at Brown University.</p>
    </div>
    <div class="row about-page">
        <div class="col-sm-4">
            <h4>Benjamin Shanahan</h4>
            <img src="/static/img/ben.jpg" class="img-responsive" />
            <p>Ben is a senior studying Neuroscience</p>
        </div>
        <div class="col-sm-4">
            <h4>Isaiah Brand</h4>
            <img src="/static/img/izzy.jpg" class="img-responsive" />
            <p>More information about Izzy</p>
        </div>
        <div class="col-sm-4">
            <h4>Nathan Amin</h4>
            <img src="/static/img/nathan.jpg" class="img-responsive" />
            <p>More information about Nathan</p>
        </div>
    </div>

</div>

{% endblock %}