{% extends "view/base.html" %}

{% set active_page = "account" %}

{% block header %}
<div class="page-title">Welcome, {{name}}</div>
{% endblock %}

{% block content %}

<script>
    $( function() {
        $( ".accordion" ).accordion({
            heightStyle: "content",
            collapsible: true,
            active: false
        });
    } );
</script>

<div style="margin-top:-20pt;" class="container">

    {% if usertype >= 1 %}
    <!-- Administrative interface -->
    <div class="row row-spacing">
        <h3>Manage Drones <span class="badge" id="n-drones"></span></h3>
        <div class="accordion">

            {% for drone_uid in drone_uids %}
            {% set drone_uid = drone_uid[0] %}
            <h3 class="accordion-header">
                <span id="{{drone_uid}}-name" class="name">{{drone_uid}}</span>
                <span class="header">
                    <span class="header-entry">Cmd: </span>
                    <span class="header-value" id="{{drone_uid}}-command">loading</span>
                    <span class="header-entry">| Sts: </span>
                    <span class="header-value" id="{{drone_uid}}-status">loading</span>
                </span>
            </h3>
            <div id="{{drone_uid}}-div">
                <div class="row row-spacing">
                    <div class="col-xs-4 entry">Delivery contains:</div>
                    <div class="col-xs-8 value" id="{{drone_uid}}-contains">loading</div>
                </div>
                <div class="row row-spacing">
                    <div class="col-xs-4 entry">Active mission:</div>
                    <div class="col-xs-8 value" id="{{drone_uid}}-activemission">loading</div>
                </div>
                <div class="row row-spacing">
                    <div class="col-xs-4 entry">Errors:</div>
                    <div class="col-xs-8 value" id="{{drone_uid}}-error">loading</div>
                </div>
                <div class="row row-spacing button-container">
                    <div class="col-xs-12 col-sm-4 centered">
                        <button id="{{drone_uid}}-button-start" onclick="setCommandOnClick('#{{drone_uid}}-button-start','{{drone_uid}}','start',refreshDroneConsole,false)">Start</button>
                        <!-- <input id="{{drone_uid}}-button-start" data-toggle="toggle" data-on="Armed" data-off="Disarmed" data-height="45px" data-width="100%" type="checkbox"> -->
                    </div>
                    <div class="col-xs-12 col-sm-4 centered">
                        <button id="{{drone_uid}}-button-takeoff" onclick="setCommandOnClick('{{drone_uid}}-button-takeoff','{{drone_uid}}','takeoff',refreshDroneConsole,false)">Takeoff</button>
                    </div>
                    <div class="col-xs-12 col-sm-4 centered">
                        <button id="{{drone_uid}}-button-rtl" onclick="onRTLClick('{{drone_uid}}-button-rtl','{{drone_uid}}')">RTL</button>
                    </div>
                </div>
                <div class="row row-spacing button-container">
                    <div class="col-xs-12 col-sm-6 centered">
                        <button id="{{drone_uid}}-button-advancemission" onclick="setCommandOnClick('{{drone_uid}}-button-advancemission','{{drone_uid}}','advancemission',refreshDroneConsole,false)">Advance Mission</button>
                    </div>
                    <div class="col-xs-12 col-sm-6 centered">
                        <button id="{{drone_uid}}-button-confirmhublanding" onclick="setCommandOnClick('{{drone_uid}}-button-confirmhublanding','{{drone_uid}}','land_hub',refreshDroneConsole,false)">Confirm Hub Landing</button>
                    </div>
                </div>
                <!-- <div class="row row-spacing button-container">
                    <div class="col-xs-4 centered" id="{{drone_uid}}-button-approvelanding">
                        <input id="{{drone_uid}}-switch-approvelanding" data-toggle="toggle" data-on="Approve Landing" data-off="Disallow Landing" data-height="45px" data-width="100%" type="checkbox">
                    </div>
                </div> -->
            </div>
            {% endfor %}

        </div>
    </div>

    <script src="/static/js/dronemgmt.js"></script>
    {% endif %}



    <div class="row row-spacing">
        <h3>My Orders <span class="badge" id="my-active-orders"></span></h3>

        {% if order_uid %}
        {#- TODO: allow multiple orders per user (?) -#}
        <div class="accordion">
            <h3 class="accordion-header">
                Order <span class="bold">{{order_uid}}</span> arriving at <span class="bold" id="{{order_uid}}-arrivaltime-header">loading</span>
            </h3>
            <div id="{{order_uid}}-div">
                <div class="row row-spacing">
                    <div class="col-xs-4 entry">Delivery contains:</div>
                    <div class="col-xs-8 value" id="{{order_uid}}-contains">loading</div>
                </div>
                <div class="row row-spacing">
                    <div class="col-xs-4 entry">Pickup location:</div>
                    <div class="col-xs-8 value" id="{{order_uid}}-destination">loading</div>
                </div>
                <div class="row row-spacing">
                    <div class="col-xs-4 entry">Departure time:</div>
                    <div class="col-xs-8 value" id="{{order_uid}}-departuretime">loading</div>
                </div>
                <div class="row row-spacing">
                    <div class="col-xs-4 entry">Estimated arrival time:</div>
                    <div class="col-xs-8 value" id="{{order_uid}}-arrivaltime">loading</div>
                </div>
                <div class="row row-spacing button-container">
                    <div class="col-xs-12 col-sm-3 centered">
                        <button id="{{order_uid}}-button-confirmlanding" onclick="onConfirmLandingClick('{{order_uid}}-button-confirmlanding','{{order_uid}}')">Confirm Landing</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/ordermgmt.js"></script>
        {% else %}
            <span>You have no active orders. <a href="account">Refresh</a>.</span>
        {% endif %}
    </div>



    {% if usertype >= 2 %}
    <!-- <div class="row row-spacing">
        <h3>Manage Users <span class="badge" id="n-active-users"></span></h3>
        <ul>
            Not yet implemented.
        </ul>
    </div> -->

    <div class="row row-spacing">
        <h3>Extras</h3>
        <ul>
            <li><a href="/demo">Robot Block Party Demo</a></li>
        </ul>
    </div>
    {% endif %}



    <div class="row row-spacing">
        <h3>Manage Account</h3>
        <ul>
            <li><a href="#" onclick="signOut()">Sign out</a></li>
        </ul>
    </div>

</div>

{% endblock %}