{% extends "view/base.html" %}

{% set active_page = "auth" %}

{% block header %}
<div class="page-title">Login / Registration</div>
{% endblock %}

{% block content %}

<script>
$(function() {
    $("#accordion").accordion({
        heightStyle: "content"
    });
});
</script>

<div id="accordion">
    <h4>Login</h4>
    <div>
        <form name="login" method="post" action="/login">
            <div class="container">
                <div class="row login">
                    <div class="col-sm-2">Username:</div>
                    <div class="col-sm-4"><input type="text" class="form-control grid-input" name="username" id="username" autocapitalize="none"></div>
                </div>
                <div class="row login">
                    <div class="col-sm-2">Password:</div>
                    <div class="col-sm-4"><input type="password" class="form-control grid-input" name="password" autocapitalize="none"></div>
                </div>
                <div class="row login">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><input type="submit" class="form-control grid-button" name="login" value="Login" /></div>
                </div>
            </div>
        </form>
    </div>
    <h4>Register New Account</h4>
    <div>
        <form name="register" method="post" action="/register">
            <div class="container">
                <div class="row login">
                    <div class="col-sm-2">Email *:</div>
                    <div class="col-sm-4"><input type="email" class="form-control grid-input" name="email" id="email" autocapitalize="none" required></div>
                </div>
                <div class="row login">
                    <div class="col-sm-2">Username *:</div>
                    <div class="col-sm-4"><input type="text" class="form-control grid-input" name="username" id="username" autocapitalize="none" required></div>
                </div>
                <div class="row login">
                    <div class="col-sm-2">Nickname:</div>
                    <div class="col-sm-4"><input type="text" class="form-control grid-input" name="nickname" id="nickname"></div>
                </div>
                <div class="row login">
                    <div class="col-sm-2">Password *:</div>
                    <div class="col-sm-4"><input type="password" class="form-control grid-input" name="password" autocapitalize="none" required></div>
                </div>
                <div class="row login">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><input type="submit" class="form-control grid-button" name="register" value="Register" /></div>
                </div>
            </div>
        </form>
        <br><small>* required field</small>
    </div>

</div>

<script type="text/javascript">
    $("#username").focus();  // focus the username input for faster login

    {% if action %}
        var action = "{{action}}";
        if (action == "register") {
            $("#accordion").accordion({active: 1});
        }
    {% endif %}
</script>

{% endblock %}