{% extends "view/base.html" %}

{% set raw = true %}
{% set active_page = "map" %}

{% block raw %}
<input type="hidden" id="username" value="{{username}}">
<!-- Front-end styles and code -->
<script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
<link href='/static/css/frontend.css' rel='stylesheet' />

<!-- Navigation -->
<div id="header">
    <span id="title" class="luna">{{info["name"]}}</span>
    <span id="nav">| {{ generate_nav() }}</span>
</div>
<span id="first-notification"></span>
<span id="second-notification"></span>

<!-- Landing page (over map) -->
<div id="landing-page-overlay">
    <div class="col-md-offset-3 col-md-6" id="landing-page-content">
        <div style="margin-top:-10px;">
            <img src="/static/img/lunadrop_logo_sm.png" class="img-fluid landing-page-logo" alt="LunaDrop"><br>
            <span class="luna luna-big">{{info["name"]}}</span><br>
            <span class="luna-subtext">{{info["description"]}}</span><br><br>
        </div>

        {% if userid %}

            {% if usertype >= 2 %}
                {# Show order selection dialog for administrators only #}

                <div class="row centered">
                    <select id="flavor-select" class="landing-page-input landing-page-select no-bold col-xs-12 col-sm-8">
                        <option value="default">Choose a type of donut...</option>
                        <option value="chocolate">Chocolate</option>
                        <option value="glazed">Glazed</option>
                        <option value="cinnamon">Cinnamon</option>
                        <option value="jelly">Jelly</option>
                        <option value="sprinkles">Sprinkles</option>
                    </select>
                    <button class="landing-page-input landing-page-btn col-xs-12 col-sm-4" onclick="checkFlavorChoice()">CONTINUE</button>
                </div>
                
            {% else %}
                
                <div>There are currently no drones online. <a href="about">Learn more</a>.</div>
            
            {% endif %}

        {% else %}

            <!-- <div id="signin-btn">Sign In</div> -->
            <div class="g-signin2 signin-btn" data-onsuccess="onSignIn"></div>
        
        {% endif %}
    </div>
</div>

<!-- Place Order -->
<div id="place-order">
    <button id="place-order-button" onclick="addOrder()">Place Order</button>
</div>

<!-- Map -->
<div id="map"></div>
<script src='/static/js/map.js'></script>  <!-- must come after map div -->

{# Don't include the frontend JS until we're ready to deploy. -#}
{# And, once we include it, only do so if the user is logged in -#}
{% if userid %}
    {% if usertype >= 2 %}
        <script src='/static/js/frontend.js'></script>
    {% endif %}
{% endif %}

{% endblock %}