[global]
environment = "production"
engine.autoreload.on = True

[/]
tools.secureheaders.on = True
tools.gzip.on = True
tools.gzip.mime_types = ["text/*"]
tools.sessions.on = True
tools.sessions.storage_type = "file"
tools.sessions.storage_path = "clientdata/sessions"
tools.sessions.timeout = 30
tools.staticdir.root = "/media/ben/SYNAPSE/dro.ne/dronesvr/"

[/api]
request.dispatch: cherrypy.dispatch.MethodDispatcher()
tools.response_headers.on: True
tools.response_headers.headers: [("Content-Type","application/json")]

[/static]
tools.staticdir.on = True
tools.staticdir.dir = "public"

[/robots.txt]
tools.staticfile.on = True
tools.staticfile.filename = "/media/ben/SYNAPSE/dro.ne/dronesvr/public/robots.txt"

[/humans.txt]
tools.staticfile.on = True
tools.staticfile.filename = "/media/ben/SYNAPSE/dro.ne/dronesvr/public/humans.txt"