{% macro generate_nav() %}
    {% set active_page = active_page|default("map") -%}
    {% if active_page != "map" %}<a href="/">Order</a> | {% endif %}
    <a href="/about" {% if active_page=="about" %}class="active"{% endif %}>About</a>
    {% if userid %}
     | <a href="/account" {% if active_page=="account" %}class="active"{% endif %}>Account</a>
    {% endif %}
{% endmacro %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{info['name']}} {{info['version']}}: {{info['description']}}">
    <meta name="google-signin-client_id" content="680157324579-1ugiegjdfjqula183h6933tntfsrs7ph.apps.googleusercontent.com">
    <meta name="google-signin-hosted_domain" content="brown.edu">
    <link rel="icon" href="/static/img/favicon.png">

    <title>{{info["name"]}}</title>

    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap2-toggle.min.js"></script>
    <script src="/static/js/globals.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</head>
<body>

{% if raw %}

{% block raw %}{% endblock %}

{% else %}

<div class="container">

    {% if active_page != "demo" %}
    <div class="page-header">
        {% block header %}{% endblock %}
        <div class="navigation">
            {{ generate_nav() }}
        </div>
    </div>
    {% endif %}

    <div class="page-header">
        {% block content %}{% endblock %}
    </div>

</div>

<div class="footer">
    <div class="container">
        <p class="muted credit"><span class="luna">{{info["name"]}}</span> {{info["version"]}} - Copyright &copy; 2017 {{info["authors"]}}</p>
    </div>
</div>

{% endif %}

<link href="https://fonts.googleapis.com/css?family=Nunito|Comfortaa" rel="stylesheet">
<link href="/static/css/jquery-ui.min.css" rel="stylesheet">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/bootstrap2-toggle.min.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
{% if active_page == "account" %}<link href="/static/css/account.css" rel="stylesheet">{% endif %}

<!-- Google analytics tracking -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-98377083-1', 'auto');
  ga('set', 'userId', '{{userid}}'); // Set the user ID using signed-in user_id.
  ga('send', 'pageview');
</script>

</body>
</html>